{
	servers {
		protocol {
			experimental_http3
		}
	}
}

{$HOST} {
  file_server

  encode gzip zstd

  reverse_proxy / app:3000
  reverse_proxy /api/* app:3000
  reverse_proxy /adminer* adminer:8080

  basicauth /adminer* {
    {$ADMINER_USER} {$ADMINER_PASSWORD}
  }
}
