p Спасибо за регистрацию в приложении Бюджет!
p Пожалуйста, подтвердите Вашу почту - перейдите по ссылке ниже:
p
  a(href=`${url}`) Подтвердить почту

p Если Вы получили это письмо по ошибке, то просто проигнорируйте его.
